.App {

  /* Example styles */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 5vmin);
  color: rgb(255, 0, 0);
}

